/* animation.css */
/* Hoạt ảnh rơi */
@keyframes fall {
    0% {
        transform: translateY(0px) rotate(0deg);
        /* Bắt đầu từ trên cao */
        opacity: 0;
    }

    10% {
        opacity: 0.8;
        /* Hiện rõ dần */
    }

    100% {
        transform: translateY(100vh) rotate(720deg);
        /* Rơi xuống cuối trang và xoay */
        opacity: 0;
        /* Biến mất khi chạm đáy */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes flyInFromBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

/* animation for gallery images: run left to right */
@keyframes run_left_to_right {
    0% {
        transform: translateX(-100px); /* Bắt đầu từ -100px bên trái */
        opacity: 0;
    }

    100% {
        transform: translateX(0); /* Di chuyển về vị trí ban đầu (0) */
        opacity: 1;
    }
}

/* animation for gallery images: run right to left */
@keyframes run_right_to_left {
    0% {
        transform: translateX(100px); /* Bắt đầu từ 100px bên phải */
        opacity: 0;
    }

    100% {
        transform: translateX(0); /* Di chuyển về vị trí ban đầu (0) */
        opacity: 1;
    }
}

@keyframes pulse_home_flower {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@keyframes pulse_home {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}